* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: #f7f9fc;
}

header {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url(img/bcg2.jpg) no-repeat center center/cover;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  margin-bottom: 100px;
}

li {
  list-style: none;
}

.nav-logo {
  flex: 3;
  margin-top: 10px;
  margin-left: 80px;
  margin-bottom: 30px;
}

header .container {
  border-bottom: 0.3px solid rgba(255, 166, 0, 0.326);
  max-width: 100%;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

nav {
  margin-right: 16px;
}

nav ul {
  display: flex;
  flex: 2;
  gap: 0px 20px;
  text-transform: uppercase;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  color: white;
  padding: 30px 10px;
  font-size: 14px;
  text-decoration: none;
}

nav ul li a i {
  font-size: 10px;
}

nav ul li a:hover {
  color: orange;
}

.divider {
  height: 15px;
  border-right: 1px solid rgba(255, 166, 0, 0.322);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 40px;
}

.nav-icons {
  display: flex;
  gap: 0 2px;
  /* margin-left: 40px; */
  /* flex: 0; */
}

.nav-icons a {
  color: white;
  font-size: 13px;
  box-shadow: 10px 0px 27px rgba(14, 5, 5, 0.575);
  background-color: rgba(255, 166, 0, 0.856);
  padding: 5px;
  transition: all 3s ease-in;
  border-radius: 10px;
  border: 1px solid rgba(255, 166, 0, 0.326);
  border: 1px solid rgba(0, 0, 0, 0.326);
}

.nav-icons p:hover {
  transform: scale(1.04);
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  top: 0;
  text-align: center;
}

.hero-content h1 {
  font-size: clamp(35px, 6vw, 60px);
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.3;
  color: white;
  margin: 0 0 30px;
}

.hero-content p {
  min-width: 300px;
  font-size: 14px;
  margin-bottom: 10px;
line-height: 1.5;
  padding: 0 2rem;
  color: white;
}

.fade {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 0.8s ease forwards;
}

#fade3 {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade1 {
  animation-delay: 0.5s;
}
.fade2 {
  animation-delay: 1s;
}
#fade3 {
  animation-delay: 1.2s;
}

.btn-container {
  margin-top: 60px;
}

.btn-container a {
  text-decoration: none;
  color: white;
  border: 0.5px solid white;
  padding: 12px 30px;
  font-weight: 200;
  margin-left: 15px;
  font-size: 13px;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

.btn-container a:hover {
  background: rgba(255, 123, 0, 0.295);
}

.btn-container a:active {
  scale: 0.6;
  opacity: 0.9;
  background-color: rgb(255, 153, 0);
}

.toggle-btn {
  display: none;
  cursor: pointer;
  position: relative;
  color: #f39c12 ;
  font-weight: bold;
  padding: 10px;
  border: 1px solid;
}

/* ABOUT SECTION */

.about{
  margin-top: 100px;
  /* padding: 0 5rem; */
  margin-bottom: 200px;
}

.about .about-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

 .about .about-text h1{
  color:#3c4a62;
  font-size:  clamp(24px,6vw,24px);
}

.divider2{
border-top: 2px dashed rgba(230, 184, 116, 0.795);
width: 150px;
margin-top: 10px;
}

 .about .about-text p{
  font-size: 14px;
  text-align: center;
  margin: 15px 0 40px;
  width: clamp(300px,60vw,550px);
  color:#687284;
}

.about-container{
  display: flex;
  flex-direction: row;
    align-items: center;
  justify-content: center;
  gap: 0 30px;
}

.about-container .about-left{
  padding-left: 20px;
}

.about-container .about-left img{
  border-radius: 5px;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}




.about-container .about-right{
  width: clamp(400px,60vw,555px);
  

}

 .about-container .about-right h3{
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 15px;
  color:#3c4a62;
}

.divider3{
border-top: 2px dashed rgba(230, 184, 116, 0.795);
width: 50px;
margin-bottom: 20px;
}

.about-container .about-right .about-desc{
  margin-bottom: 20px;
  padding-right: 20px;
  font-size: 14px;
  line-height: 1.7;
  color:#687284;
}

 .about-container .about-right .about-checklist{
  color: #3c4a62;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 20px;
}

.about-container .about-right a{
  text-decoration: none;
  font-size: 13px;
  background: #5d6b82 ;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  transition:  all 0.3s ease;
}

 .about-container .about-right a:hover{
    background: #f39c12;
}

/* 
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 40px;
  margin-top: 100px;
  margin-bottom: 300px;

}

.card {
  background: #ffffff;
  position: relative;
  border-radius: 5px;
  width: 350px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card-image img {
  width: 100%;
  border-radius: 5px;
  height: 250px;
  object-fit: cover;
  filter: brightness(70%);
  transition: all 0.5s ease;
}

.card:hover .card-image img{
  filter: brightness(100%);
}

.card-icon {
  position: absolute;
  color: #fff;
  top: 225px;
  z-index: 10;
  background: rgb(233, 152, 2);
  font-size: 20px;
  height: 45px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
}

.card-content {
  padding: 30px 20px 30px;
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-content h3{
  color: #3c4a62;
  margin-bottom: 15px;
}

.card-content p {
  font-size: 14px;
  font-weight: 400;
  width: 330px;
  color: #687284;
  line-height: 1.7;
}

.card-content a{
  text-decoration: none;
  font-size: 13px;
  background: #5d6b82 ;
  padding: 8px 25px;
  border-radius: 5px;
  margin-top: 20px;
  color: #fff;
  transition:  all 0.3s ease;
}

  .card-content a:hover{
    background: #f39c12;
} */


@media screen and (max-width: 992px) {
  header .container {
    background: black;
    height: 100px;
    border-bottom: 0.5px solid #f39c12;
    display: flex;
    gap: 0 7%;
    margin: 0;
    flex-direction: row;
    justify-content: center;
    transition: all 1.5s ease-in-out;
  }

  #navbar {
    border-top: 1.5px dotted rgba(255, 166, 0, 0.4);
    border-bottom: 1.5px dotted rgba(255, 166, 0, 0.267);
    padding: 10px 0;
  }

  .divider {
    display: none;
  }

  .nav-logo {
    flex: 0;
    margin: 10px 0 15px;
  }

  .nav-icons {
    display: none;
  }

  .hero-content {
    height: 100vh;
  }

  .hero-content p {
    min-width: 300px;
    padding: 0 2rem;
    font-size: 14px;
    margin-bottom: 10px;
    color: white;
  }

  /* ABOUT */
  .about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  padding:  0 20px;
}

.about-container .about-left{
 padding-left: 0px;

}

.about-container .about-left img{
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}

.about-right{
  padding: 0 0px;
  margin-left: 20px;
width: 100%;
  max-width: 100%;
  height: auto;
}
}



@media screen and (max-width: 767px) {
  .hero-content h1 {
    font-size: 22px;
  }

#navbar{
  display: none;
}

.toggle-btn{
  display: block;
  margin-right: -29px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .nav-logo{
    margin-left: 10px;
  }

  .service-btn-cta{
    display: none;
  }

}